<!-- <p>orbit-list works!</p> -->
<h3>Orbit Report</h3>
<table>
    <tr class ="header-row">
        <th class="sortable" (click) = "sort('name')">Name</th>
        <th class="sortable" (click) = "sort('type')">Type</th>
        <th>Operational</th>
        <th>Orbit Type</th>
        <th>Launch Date</th>
    </tr>
    <tr *ngFor="let sat of satellites">{{sat.name}}>
        <td [class.warning] = sat.shouldShowWarning()>{{sat.type}}</td>
        <td>{{sat.orbitType}}</td>
        <td>{{sat.operational}}</td>
        <td>{{sat.launchDate}}</td>
    </tr>
</table>
